//- Tab Pane component.
//-
//- Represents the root tag of a tab pane.
//-
//- isActive - Indicates, whether the Tab Pane is active.
//- id - The ID of the Tab Pane. Must be the same as in the href attribute of the corresponding Nav Tab.
//- labelledby - The aria-labelledby attribute. Must be the same as the ID of the corresponding Nav Tab. 

mixin tabPane(isActive, id, labelledby)
  - const activeClasses = isActive ? 'show active' : '';
  - const classes = `tab-pane fade h-100 pt-5 px-4 hide-scrollbar ${activeClasses}`;
  div(class=`${classes}` id=`${id}` role='tabpanel' aria-labelledby=`${labelledby}`)
    block
