@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$enable-shadows: true;

// Custom theme colors

$gray: #efefef;
$primary: #4545a5;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #fbfbfb;
$dark: #343a40;

$theme-colors: (
  'gray': $gray,
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

// Border color override

$border-color: $gray;

// Custom grid breakpoints and container widths

$custom-grid-breakpoints: (
  'xxl': 1600px,
);

$custom-container-max-widths: (
  'xxl': 1540px,
);

$grid-breakpoints: map-merge($grid-breakpoints, $custom-grid-breakpoints);
$container-max-widths: map-merge($container-max-widths, $custom-container-max-widths);

@import '../../node_modules/bootstrap/scss/mixins';
@import './mixins';
@import '../../node_modules/bootstrap/scss/utilities';
@import './utilities';

// Optional Bootstrap components here

@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/navbar';
@import '../../node_modules/bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/card';
@import '../../node_modules/bootstrap/scss/list-group';
@import './components/nav';
@import './components/avatar';
@import './components/contact';
@import '../../node_modules/bootstrap/scss/root';
@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/type';
@import '../../node_modules/bootstrap/scss/grid';
