// Widths and heights for different sizes (in px)

$sizes-px: 25px, 50px, 75px, 100px;

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $size in $sizes-px {
      .w#{$infix}-#{$size} {
        width: $size;
      }

      .h#{$infix}-#{$size} {
        height: $size;
      }
    }
  }
}
