.contact {
  display: flex;
  align-items: center;

  padding: 0 $spacer;

  color: inherit;

  cursor: pointer;

  @include box-shadow($box-shadow-sm);
  @include transition($btn-transition);

  &-body {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: map-get($spacers, 4);
  }

  &-name {
    font-weight: bold;
  }

  &-desc {
    color: $secondary;
    font-size: $small-font-size;
    text-overflow: ellipsis;
  }

  &-title {
    display: flex;
    justify-content: space-between;
  }

  &-time {
    color: $secondary;
    font-size: $small-font-size;
  }

  &:hover {
    color: inherit;
    text-decoration: none;

    background: $purple;
  }

  &:hover &-name,
  &:hover &-desc,
  &:hover &-time {
    color: $white;
  }
}
