extends includes/base-structure.pug
include components/tab-pane.pug
include components/nav-tab.pug
include components/header.pug

block content
  main.col-md-4.d-flex.flex-column.h-100.p-0
    +header
      li.d-flex.d-md-none.nav-item(role='presentation')
        a.d-flex.align-items-center.text-white.border-0.nav-link#current-chat-tab(href='#current-chat' role='tab' data-toggle='tab' aria-controls='current-chat' aria-selected='false')
          svg.mr-2.h-25px.w-25px(fill='currentColor')
            use(xlink:href='images/icons/sprite.svg#chat-left-text')
      +navTab('contacts-tab', 'contacts', 'images/icons/sprite.svg#people', false, 'Контакты')
      +navTab('chats-tab', 'chats', 'images/icons/sprite.svg#chat', true, 'Сообщения')
      +navTab('profile-tab', 'profile', 'images/icons/sprite.svg#person', false, 'Профиль')
    .tab-content.h-100.bg-white.hide-scrollbar
      +tabPane(false, 'contacts', 'contacts-tab')
        include includes/contacts.pug
      +tabPane(true, 'chats', 'chats-tab')
        include includes/chats.pug
      +tabPane(false, 'profile', 'profile-tab')
        include includes/profile.pug
      .tab-pane.fade.h-100.bg-white.hide-scrollbar#current-chat(role='tabpanel' aria-labelledby='current-chat-tab')
        .d-md-none
          include includes/current-chat.pug
  .d-none.d-md-flex.flex-column.border-left.col-12.col-md-8.h-100.p-0.bg-white.radius-md-top-right.radius-md-bottom-right
    include includes/current-chat.pug