doctype html
html(lang='ru').h-100
  include includes/head.pug
  +head('Чат — VilerChat')
  body.bg-gray.p-md-4.h-100
    .container-fluid.container-xxl.h-100.overflow-hidden
      .row.h-100
        main.col-12.col-md-4.d-flex.flex-column.h-100.p-0
          include includes/header.pug
          .h-100.border-right.bg-white.pt-5.px-4.rounded-md-bottom-left
        .d-flex.col-12.col-md-8.h-100.p-0.bg-white.rounded-md-top-right.rounded-md-bottom-right
