extends includes/base-structure.pug
include components/nav-tab.pug
include components/header.pug

block content
  main.col-12.col-md-4.d-flex.flex-column.h-100.p-0
    +header
      include includes/default-nav.pug
    .tab-content.h-100.hide-scrollbar
      include includes/contacts.pug
      include includes/chats.pug
      include includes/profile.pug
  .d-flex.flex-column.justify-content-center.align-items-center.border-left.col-md-8.h-100.p-0.bg-white.radius-md-top-right.radius-md-bottom-right
    img(src='images/avatar_1.jpg' alt='Картинка Кодовёнка').rounded-circle.mb-3
    span.font-weight-bold Привет, Кодовёнок
    span.text-muted.small Выбери чат, чтобы начать общаться
