doctype html
html.h-100(lang='ru')
  include ./head.pug
  body.bg-gray.p-md-4.h-100
    .container-fluid.container-xxl.h-100.overflow-hidden.radius-md-bottom-left
      .row.h-100
        block content