include ../components/message.pug
.d-flex.flex-column.hide-scrollbar-md.radius-md-bottom-right.radius-md-top-right
  .chat-header
    .contact.contact-hoverless.shadow-none
      img.avatar(src='images/avatar_4.jpg' alt='Аватар пользователя')
      .contact-body
        .contact-title
          span.contact-name Вениамин Редакторович
        span.contact-desc Онлайн
  .chat-body.p-5
    +leftMessage(
      'Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?',
      'light',
      'images/avatar_4.jpg',
      'Вениамин Редакторович',
    )
      | 8 минут назад
    +rightMessage(
      'Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень',
      'primary',
      'images/avatar_1.jpg',
    )
      | 5 минут назад
    +leftMessage(
      'Лады',
      'light',
      'images/avatar_4.jpg',
      'Вениамин Редакторович',
    )
      | 5 минут назад
    +rightMessage(
      'А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие',
      'primary',
      'images/avatar_1.jpg',
    )
      | 3 минуты назад
    +leftMessage(
      'o_O',
      'light',
      'images/avatar_4.jpg',
      'Вениамин Редакторович',
    )
      | Только что
  .chat-footer.mx-md-5.px-3
    form.d-flex.justify-content-between.align-items-center
      input.chat-input.px-3.py-4(type='text' name='message' placeholder='Напишите сообщение...')
      button.btn.btn-primary.rounded-circle.w-50px.h-50px
        svg.h-25px.w-25px(fill='currentColor')
          use(xlink:href='images/icons/sprite.svg#send')
