+navTab('contacts-tab', 'contacts', 'images/icons/sprite.svg#people', 'true', 'Контакты')
+navTab('chats-tab', 'chats', 'images/icons/sprite.svg#chat', 'false', 'Сообщения')
+navTab('profile-tab', 'profile', 'images/icons/sprite.svg#person', 'false', 'Профиль')
