+navTab('contacts', 'images/icons/sprite.svg#people', 'true', 'Контакты')
+navTab('chats', 'images/icons/sprite.svg#chat', 'false', 'Сообщения')
+navTab('profile', 'images/icons/sprite.svg#person', 'false', 'Профиль')
